<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>NetHack Terminal Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
<audio id="login-sound" src="/static/login-music.mp3"></audio>
<img src="{{ url_for('static', filename='anonymous-emblem.png') }}" alt="anonymous emblem"/>
  <div id="terminal">
    <h2>NetHack Terminal v1.0</h2>
    <p>Accessing secure system...</p>
    
    <label for="username">Username:</label><br />
    <input type="text" id="username" autocomplete="off" /><br />
    
    <label for="password">Password:</label><br />
    <input type="password" id="password" autocomplete="off" /><br />
    
    <button id="loginBtn">Login</button>
    
    <div id="loading-bar-container" style="display:none;">
      <div id="loading-bar"></div>
    </div>
    
    <div id="message"></div>
  </div>
  

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>